.containerLI {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.locationLI {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  gap: 30px;
}

.locationDetailsLI {
  background-color: rgba(44, 40, 40, 0.2);
  backdrop-filter: blur(20px);
  padding: 20px;
  border: 1px solid #ffffff;
  border-radius: 20px;
  color: #ffffff;
}

.locationDetailsLI p {
  font-size: 18px;
}

.errorMSGLi{
  display: grid;
  justify-content: center;
}

.errorLI {
  display: flex;
  justify-content: center;
  align-items: center;

}

.errorLI>img {
  width: 200%;
  border-radius: 20px;
}